.medico-turno {
  background: #334455; /* ligeramente más claro para distinguir del fondo */
  border: 2px solid #667788;
  padding: 1rem;
  border-radius: 6px;
  text-align: center;
  margin-top: 1rem; /* separado de componentes anteriores */
}

.medico-turno h2 {
  color: #4fc3f7;
}

.medico-turno p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}