.login-container *{
    padding: 0px;
    margin: 0px;
}

.login-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px #000 solid;
    justify-content: center;
}

.login-form label{
    margin-top: 20px;
}
.login-form input{
    margin-top: 7px;
    padding: 5px;
}

.action-button{
    margin-top: 20px;
}
.action-button button{
    padding: 5px;
    margin: 15px;
}
